body {
    background-color: rgb(215, 229, 222);
    font-family: sans-serif;
    margin-top: 3%;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header>img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: black;
    border-radius: 0.5rem;
    height: 25px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

li a {
    color: white;
    text-decoration: none;
    font-size: larger;
    margin: 0.5rem;
}

li a:hover {
    background-color: gray;
    font-size: large;
    text-decoration: underline;
}

section {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

article {
    background-color: rgb(251, 236, 217);
    flex: 1;
    border: 1px solid black;
    border-radius: 1rem;
}

#main {
    background-image:url(Banner.jpg);
    background-size: cover;
    background-position: 25%;
    height: 25rem;
}

article h1{
    display: flex;
    color: white;
    margin-left: 2rem;
    margin-top: 16rem;
    margin-bottom: 0px;
}

#description {
    color: white;
    margin-left: 2rem;
}

article img {
    border-radius: 10px;
    max-width: 100%;
    height: 25rem;
}

article h2 {
    margin: 10px;
}

article p {
    margin: 10px;
}

.img{
    display: block; 
    max-width: 100%;
    height:200px; 
    margin-left:auto; 
    margin-right: auto;
}

article:hover {
    border: 2px solid black;
}

article:hover h2 {
    animation: myanimation 3s;
}

@keyframes myanimation {
    from {
        font-size: 32px;
    }

    to {
        font-size: 40px;
    }
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

div>img {
    width: 50px;
    display: block;
    margin-left: 20px;
}

div>p {
    text-align: end;
    margin-right: 20px;
    border-top: 2px solid black;
}